@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Alike Angular font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Alike+Angular&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: "Alike Angular", serif;
  letter-spacing: 0.1em;
}
